
on init
    # Disable Boost_No_Override
    write /dev/stune/foreground/schedtune.sched_boost_no_override 0
    write /dev/stune/top-app/schedtune.sched_boost_no_override 0

    # Set default schedTune value for foreground/top-app
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/top-app/schedtune.prefer_idle 1

    write /dev/stune/schedtune.colocate 0
    write /dev/stune/background/schedtune.colocate 0
    write /dev/stune/system-background/schedtune.colocate 0
    write /dev/stune/foreground/schedtune.colocate 0
    write /dev/stune/top-app/schedtune.colocate 0

on boot
    # Set SQLite flags for F2FS because some DBs might be opened early
    setprop debug.sqlite.journalmode OFF
    setprop debug.sqlite.syncmode OFF

on property:sys.boot_completed=1
    #Enable franco profiles
    setprop fku.profiles 1

    # Restart IRQ balancer after boot complete
	stop vendor.msm_irqbalance;
    start vendor.msm_irqbalance;
    
    # Set the default IRQ affinity to the silver cluster.
    write /proc/irq/default_smp_affinity "f"

    # Runtime FS tuning: as we have init boottime setting and kernel patch setting
    # default readahead to 2048KB. We should adjust the setting upon boot_complete
    # for runtime performance
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/nr_requests 32
    write /sys/block/sda/queue/add_random 0
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/nomerges 0
    write /sys/block/sda/queue/rotational 0
    write /sys/block/sda/queue/rq_affinity 1
    write /sys/block/sde/queue/read_ahead_kb 128
    write /sys/block/sde/queue/nr_requests 32
    write /sys/block/sde/queue/add_random 0
    write /sys/block/sde/queue/iostats 0
    write /sys/block/sde/queue/nomerges 0
    write /sys/block/sde/queue/rotational 0
    write /sys/block/sde/queue/rq_affinity 1
    write /sys/block/sdf/queue/read_ahead_kb 128
    write /sys/block/sdf/queue/nr_requests 32
    write /sys/block/sdf/queue/add_random 0
    write /sys/block/sdf/queue/iostats 0
    write /sys/block/sdf/queue/nomerges 0
    write /sys/block/sdf/queue/rotational 0
    write /sys/block/sdf/queue/rq_affinity 1
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128
    write /sys/block/dm-3/queue/read_ahead_kb 128

    # Tweak CFQ IO scheduler for less latency
    write /sys/block/sda/queue/iosched/quantum 4
    write /sys/block/sda/queue/iosched/fifo_expire_sync 80
    write /sys/block/sda/queue/iosched/fifo_expire_async 330
    write /sys/block/sda/queue/iosched/back_seek_max 12582912
    write /sys/block/sda/queue/iosched/back_seek_penalty 1
    write /sys/block/sda/queue/iosched/slice_sync 60
    write /sys/block/sda/queue/iosched/slice_async 50
    write /sys/block/sda/queue/iosched/slice_async_rq 2
    write /sys/block/sda/queue/iosched/group_idle 0
    write /sys/block/sde/queue/iosched/quantum 4
    write /sys/block/sde/queue/iosched/fifo_expire_sync 80
    write /sys/block/sde/queue/iosched/fifo_expire_async 330
    write /sys/block/sde/queue/iosched/back_seek_max 12582912
    write /sys/block/sde/queue/iosched/back_seek_penalty 1
    write /sys/block/sde/queue/iosched/slice_sync 60
    write /sys/block/sde/queue/iosched/slice_async 50
    write /sys/block/sde/queue/iosched/slice_async_rq 2
    write /sys/block/sde/queue/iosched/group_idle 0
    write /sys/block/sdf/queue/iosched/quantum 4
    write /sys/block/sdf/queue/iosched/fifo_expire_sync 80
    write /sys/block/sdf/queue/iosched/fifo_expire_async 330
    write /sys/block/sdf/queue/iosched/back_seek_max 12582912
    write /sys/block/sdf/queue/iosched/back_seek_penalty 1
    write /sys/block/sdf/queue/iosched/slice_sync 60
    write /sys/block/sdf/queue/iosched/slice_async 50
    write /sys/block/sdf/queue/iosched/slice_async_rq 2
    write /sys/block/sdf/queue/iosched/group_idle 0

    # Disable CAF task placement for Big Cores
    write /proc/sys/kernel/sched_walt_rotate_big_tasks 0

    # Setup EAS cpusets values for better load balancing
    write /dev/cpuset/top-app/cpus "0-7"

    # Since we are not using core rotator, lets load balance
    write /dev/cpuset/foreground/cpus "0-3,6-7"
    write /dev/cpuset/background/cpus "0-1"
    write /dev/cpuset/system-background/cpus "0-3"

    # For better screen off idle
    write /dev/cpuset/restricted/cpus "0-3"

    # Disable in-kernel sched statistics for reduced overhead;
    write > /proc/sys/kernel/sched_schedstats 0
 
    # configure governor settings for little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/iowait_boost_enable 1

    # configure governor settings for big cluster
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/pl 1
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/iowait_boost_enable 1

    # Increase how much CPU bandwidth (CPU time) realtime scheduling processes are given
    write /proc/sys/kernel/sched_rt_runtime_us 980000

    # Disable a few minor and overall pretty useless modules for slightly better battery life & system wide performance;
    write /sys/module/bluetooth/parameters/disable_ertm "Y"
    write /sys/module/bluetooth/parameters/disable_esco "Y"

    # Use the deepest CPU idle state for a few additional power savings if your kernel of choice now supports it;
    write /sys/devices/system/cpu/cpuidle/use_deepest_state 1

    # Enable display / screen panel power saving features;
    write /sys/kernel/debug/dsi_ss_ea8074_notch_fhd_cmd_display/dsi-phy-0_allow_phy_power_off "Y"
    write /sys/kernel/debug/dsi_ss_ea8074_notch_fhd_cmd_display/ulps_enable "Y"

    #Enable suspend to idle mode to reduce latency during suspend/resume
    write /sys/power/mem_sleep "s2idle"

# Power saving profile
on property:fku.perf.profile=0
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1516800
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1056000
    write /sys/module/cpu_input_boost/parameters/input_boost_freq_lp 979200
    write /sys/module/cpu_input_boost/parameters/input_boost_freq_hp 0
    write /sys/module/cpu_input_boost/parameters/input_boost_duration 32
    write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 0
    write /sys/class/thermal/thermal_message/sconfig 11

# Balance (FK defaults)
on property:fku.perf.profile=1
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1766400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2803200
    write /sys/module/cpu_input_boost/parameters/input_boost_freq_lp 1056000
    write /sys/module/cpu_input_boost/parameters/input_boost_freq_hp 902400
    write /sys/module/cpu_input_boost/parameters/input_boost_duration 64
    write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 15
    write /sys/class/thermal/thermal_message/sconfig 10

# Performance
on property:fku.perf.profile=2
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "performance"
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1766400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2803200
    write /sys/module/cpu_input_boost/parameters/input_boost_freq_lp 1516800
    write /sys/module/cpu_input_boost/parameters/input_boost_freq_hp 1363200
    write /sys/module/cpu_input_boost/parameters/input_boost_duration 125
    write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 50
    write /sys/class/thermal/thermal_message/sconfig 10